@import '../../color-theme.scss';

ul {
  margin: 0px;
  padding: 5px;
  width: 70%;
  margin: auto;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $foreground-color;
  margin: 5px;
  padding: 10px 5px;

  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  color: $text-color;
}

li:hover {
  background-color: $foreground-hover;
}
