@import '../../color-theme.scss';

ul {
  margin: 0px;
  padding: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
}

li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin: 5px;
  padding: 10px 5px;

  background-color: $foreground-color;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  color: $text-color;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px $shadow-color;
}

li:hover {
  background-color: $foreground-hover;
}
