<div class="contentCard">
    <div class="contentCardHeader">About Me</div>
    <img src="../../../assets/profilePic.jpg" alt="Profile Picture">

    <p>Hello! My name is Bennett Ballentine. I am a student at Clemson University earning my Computer Science degree. I have a strong interest in programming (lately it's been web-development) as well as Cyber Security</p>
    <p>I developed this website to learn more about Web Development as well as to document some of the programming projects I have worked on</p>
</div>