<div class="contentCard">
    <div class="contentCardHeader">About Me</div>
    <img src="../../../assets/profilePic.jpg" alt="Profile Picture">

    <p>Hello! My name is Bennett Ballentine and I'm a Software Developer. I have a passion for learning new technologies and using them to create cool things!</p>
    <p>In December of 2021 I graduated from Clemson University earning my Bachelor of Science. I majored in Computer Science with a Cyber Security minor.</p>
    <p>I developed this website in college to learn more about Web Development as well as to document some of the programming projects I have worked on.</p>
</div>