<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- Titlebar -->
    <app-titlebar></app-titlebar>

    <span class="spacer"></span>

    <!-- Hamburger icon to open side nav -->
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav position="end">
    <mat-nav-list>
      <!-- First mat-list-item is due to bug causing first list item to appear indefinitely hovered on-->
      <a mat-list-item [routerLink]="'#'" (click)="sidenav.toggle()"  style="height:0; position: absolute;"></a>
      <div class="gridWrapper">
        <div class="emoji">😁</div>  <a mat-list-item [routerLink]="'/about'" (click)="sidenav.toggle()"> About Me </a>
        <div class="emoji">📎</div>  <a mat-list-item [routerLink]="'/resume'" (click)="sidenav.toggle()"> My Resume </a>
        <div class="emoji">🚀</div>  <a mat-list-item [routerLink]="'/projects'" (click)="sidenav.toggle()"> My Projects </a>
        <div class="emoji">🏌</div>  <a mat-list-item [routerLink]="'/hobbies'" (click)="sidenav.toggle()"> My Hobbies </a>
        <div class="emoji">📞</div>  <a mat-list-item [routerLink]="'/contact'" (click)="sidenav.toggle()"> Contact Me </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Only display the contents that the current page contains -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Might need a footer on every page???? -->
