<div class="contentCard">
    <div class="contentCardHeader">My Projects</div>
    <p>Here are a few programming projects I have worked on. Some of them were created for fun and entertainment, while others were created for learning new languages and technologies.</p>
    <p>Most of my projects can be found on my Github account: BennettB123</p>
    <a class="githubButton" href="https://github.com/BennettB123"> <img class="githubLogo" src="../../../assets/icons/githubLogo.svg" alt="Github logo">  <label class="githubButtonLabel">My Github</label> </a>
</div>