// The Color Pallete for this site can be found at https://colorhunt.co/palette/2763

$background-color: #222831;
$foreground-color: #393e46;
$primary-color: #00adb5;
$text-color: #eee;

$shadow-color: #111111;
$foreground-hover: #494e56;