// The Color Pallete for this site can be found at https://colorhunt.co/palette/2763

html {
  background: #222831;
}

html, body {
  height: 100%;
}

body { 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
  color: #eeeeee;
}

p {
  margin: 0;
}

.contentCard {
  background-color: #393e46;
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
}