html {
  /* For gradient background */
  min-height: 100%;
  /* background: rgb(204,204,204);
  background: -moz-radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(51,51,51,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(51,51,51,1) 100%);
  background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(51,51,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc",endColorstr="#333333",GradientType=1);
  background-repeat: no-repeat; */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
